<!-- TO-DO: add placeholder for no items in the list -->
<ng-template [ngIf]="personList">
  <!-- TO-DO: use filterer items for each column -->
  <div class="column">
    <app-person-card class="card" *ngFor="let person of personList" [person]="person"></app-person-card>
  </div>

  <div class="column">
    <app-person-card class="card" *ngFor="let person of personList" [person]="person"></app-person-card>
  </div>
  
  <div class="column">
    <app-person-card class="card" *ngFor="let person of personList" [person]="person"></app-person-card>
  </div>
</ng-template>
