:host {
  display: block;
  max-width: 1110px;
  margin: auto;
  padding: 15px;
}

.column {
  display: inline-block;
  padding: 0 7px;
  width: 33.33%;
}

.card {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
