<div class="controls page-header page-content">
  <button class="button--primary add-new"> + Add New</button>

  <button class="button--primary flat save"> Save </button>
</div>

<div class="form page-content">
  <div class="form__field-group">
    <input type="text" class="form__field" placeholder="First Name">
    <input type="text" class="form__field" placeholder="Last Name">
  </div>
  
  <div class="form__field-group">
    <input type="text" class="form__field" placeholder="Income">
    <input type="text" class="form__field" placeholder="File Upload">
  </div>
</div>
