$gap: 15px;

:host {
  display: block;
  padding: 0 15px 15px;
}

.columns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1110px;
  margin: auto;
  
}

.column {
  padding-top: $gap;
  margin-right: $gap;
  flex-grow: 1;
  flex-basis: 100px;
  
  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 1023px) {
    margin-right: 0;
    width: calc(50% - #{$gap} / 2);
    flex-grow: 0;
    flex-basis: unset;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.card {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
