<app-list-filter></app-list-filter>

<!-- TO-DO: add placeholder for no items in the list -->
<!-- TO-DO: use template instad of duplciating html -->
<div class="columns-wrapper">
  <div class="column">
    <app-person-card class="card" *ngFor="let person of getPeopleByColumn(1)" [person]="person"></app-person-card>
  </div>
  
  <div class="column">
    <app-person-card class="card" *ngFor="let person of getPeopleByColumn(2)" [person]="person"></app-person-card>
  </div>
  
  <div class="column">
    <app-person-card class="card" *ngFor="let person of getPeopleByColumn(3)" [person]="person"></app-person-card>
  </div>
</div>
