<app-list-filter></app-list-filter>

<!-- TO-DO: add placeholder for no items in the list -->
<div class="columns-wrapper">
  <div class="column">
    <app-person-card class="card" *ngFor="let person of highScorePeople" [person]="person"></app-person-card>
  </div>
  
  <div class="column">
    <app-person-card class="card" *ngFor="let person of mediumScorePeople" [person]="person"></app-person-card>
  </div>
  
  <div class="column">
    <app-person-card class="card" *ngFor="let person of lowScorePeople" [person]="person"></app-person-card>
  </div>
</div>
